<html ng-app="myModule">
<body>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
<script src="angular.js"></script>
</head>
<div ng-controller="myController">
Filter by Name<input type="text" placeholder="Search Name" ng-model="SearchText.name">
Filter by City<input type="text" placeholder="Search City" ng-model="SearchText.City">
Exact Match<input type="checkbox" ng-model="exactMatch">
	<table width="100%" border="1">
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>Gender</th>
		</tr>
		<tr ng-repeat="employee in employees |filter:SearchText:exactMatch:true ">
	<!--	<tr ng-repeat="employee in employees |filter:SearchText ">-->
			<td>{{employee.name}}</td>
			<td>{{employee.City}}</td>
			<td>{{employee.Gender}}</td>
		</tr>
	</table>
</div>
</body>
</html>
